<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@model TodoList.Web.Models.TodoViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index"];
}

<h2>@Localizer["Todos"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Update Status"]
            </th>
            <th>
                @Localizer["Title"]
            </th>
            <th>
                @Localizer["Done"]
            </th>
            <th>
                @Localizer["Dueto"]
            </th>
            <th>@Localizer["Tags"]</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Todos)
        {
            <tr>
                <td>
                    <form asp-action="UpdateDone" method="post">
                        <input type="checkbox" class="done-checkbox" asp-for="@item.Done" />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @(item.Done ? "Yes" : "No")
                </td>
                <td>
                    <span data-value="@item.DuetoDateTime" class="timeStampValue">
                        @item.DuetoDateTime
                    </span>
                </td>
                <td>
                    @if (item.Tags != null)
                    {
                        @foreach (var tag in item.Tags)
                        {
                            <a asp-action="Index" asp-route-tag="@tag" class="badge badge-light">@tag</a>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-success" asp-action="Create">@Localizer["Add Todo"]</a>
</p>

<hr />


<button id="hideCompletedButton" class="btn btn-primary">Hide Completed</button>
<button id="showCompletedButton" class="btn btn-secondary">Show Completed</button>
<div id="completed-todo-container">
 <h2>@Localizer["Dones"]</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Update Status"]
                </th>
                <th>
                    @Localizer["Title"]
                </th>
                <th>
                    @Localizer["Done"]
                </th>
                <th>
                    @Localizer["Dueto"]
                </th>
                <th>
                    @Localizer["Tags"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dones)
            {
                <tr>
                    <td>
                        <form asp-action="UpdateDone" method="post">
                            <input type="checkbox" class="done-checkbox" asp-for="@item.Done" />
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @(item.Done ? "Yes" : "No")
                    </td>
                    <td>
                        <span data-value="@item.DuetoDateTime" class="timeStampValue">
                            @item.DuetoDateTime
                        </span>
                    </td>
                    <td>
                        @if (item.Tags != null)
                        {
                            @foreach (var tag in item.Tags)
                            {
                                <a asp-action="Index" asp-route-tag="@tag" class="badge badge-light">@tag</a>
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form id="emptyCompletedForm" asp-action="EmptyCompletedTodos" method="post">
        <button id="emptyCompletedButton" class="btn btn-danger" type="button">Empty Completed</button>
        <input type="hidden" name="someHiddenField" value="You can include additional hidden fields if needed" />
    </form>
</div>
<script>
    $(document).ready(function () {
        // Attach a click event handler to the "Empty Completed" button
        $('#emptyCompletedButton').click(function () {
            // Submit the form when the button is clicked
            $('#emptyCompletedForm').submit();
        });
        // Initially hide the "Show Completed" button
        $('#showCompletedButton').show();

        // Initially hide the "Hide Completed" button
        $('#hideCompletedButton').hide();

        // Initially hide elements with class "completed-todo"
        $('#completed-todo-container').hide();

        // Function to hide completed todos and toggle buttons
        $('#hideCompletedButton').click(function () {
            $('#completed-todo-container').hide(); // Use the appropriate class for completed todos rows
            $(this).hide(); // Hide the "Hide Completed" button
            $('#showCompletedButton').show(); // Show the "Show Completed" button
        });

        // Function to show completed todos and toggle buttons
        $('#showCompletedButton').click(function () {
            $('#completed-todo-container').show(); // Use the appropriate class for completed todos rows
            $(this).hide(); // Hide the "Show Completed" button
            $('#hideCompletedButton').show(); // Show the "Hide Completed" button
        });
    });
</script>
